# ===========================
# 1. Python & AI 공통 (BackEnd, ApiServer)
# ===========================
__pycache__/
*.py[cod]
.env
venv/
env/

# [중요] 용량 폭발의 주범! AI 모델 파일 제외
# 이 파일들은 100MB가 넘어서 깃허브에 그냥 올리면 에러납니다.
*.pt
*.pth
*.onnx
runs/

# 로컬 DB 및 로그
*.log
*.sqlite3
database/

# ===========================
# 2. Frontend (Node.js/React)
# ===========================
# [중요] 프론트엔드 용량 주범!
node_modules/
dist/
build/
.vscode/

# ===========================
# 3. 기타 불필요한 파일
# ===========================
.DS_Store
Thumbs.db
files/