.overlay-description {
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: -0.4px;
    margin: 40px;
  }
  
  .find-password {
    color: gray;
    font-size: 12px;
    text-decoration: none;
    margin: 15px 0;
    letter-spacing: -0.5px;
  }
  
  .find-password:hover {
    color: #4ec5f4;
  }
  
  .form-button {
    border-radius: 20px;
    border: 1px solid;
    background-color: #ffdb58;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-top: 13px;
    cursor: pointer;
  }
  
  .form-button:active {
    transform: scale(0.95);
  }
  
  .form-button:focus {
    outline: none;
  }
  
  .form-button.ghost {
    background-color: transparent;
    border-color: #ffffff;
  }
  
  .idcheckbutton {
    background-color: #ffdb58;
    color: black;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
  }
  
  @keyframes MainTitle {
    0% {
      transform: translateY(0);
      color: #ffdb58;
    }
    30% {
      transform: translateY(3px);
      color: #c2f5b6;
    }
    50% {
      transform: translateY(5px);
      color: #7adfc7;
    }
    70% {
      transform: translateY(3px);
      color: #c2f5b6;
    }
  
    100% {
      transform: translateY(0);
      color: #ffdb58;
    }
  }
  
  @font-face {
    font-family: "title";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "SOGANGUNIVERSITYTTF";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SOGANGUNIVERSITYTTF.woff2")
      format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "menubar";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2")
      format("woff2");
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: "hihi";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2")
      format("woff2");
    font-weight: 700;
    font-style: normal;
  }
  
  .form-title {
    margin-bottom: 20px;
    -webkit-text-stroke-width: 1px;
    animation: MainTitle 2s infinite;
    animation-fill-mode: forwards;
    font-family: "title";
    font-size: 45px;
  }
  
  input {
    background-color: #eee;
    border: none;
    padding: 12px;
    margin: 50px;
    width: 75%;
    font-size: 13px;
    border-radius: 15px;
  }
  
  .social-container {
    margin: 20px 0;
  }
  
  .social-container a {
    border: 1px solid #dddddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
  }
  
  .container {
    margin: auto;
    margin-top: 100px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
  }
  
  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }
  
  .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }
  
  .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }
  
  .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
  }
  
  .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }
  
  @keyframes show {
    0%,
    49.99% {
      opacity: 0;
      z-index: 1;
    }
  
    50%,
    100% {
      opacity: 1;
      z-index: 5;
    }
  }
  
  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }
  
  .container.right-panel-active .overlay-container {
    transform: translateX(-100%);
  }
  
  .overlay {
    background: #1fd8af;
    background: -webkit-linear-gradient(to right, #1fd8af, #1fd8af);
    background: linear-gradient(to right, #1fd8af, #1fd8af);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  
  .container.right-panel-active .overlay {
    transform: translateX(50%);
  }
  
  .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    font-family: "title";
  }
  
  .overlay-left {
    transform: translateX(-20%);
    padding: 0;
  }
  
  .container.right-panel-active .overlay-left {
    transform: translateX(0);
  }
  
  .overlay-right {
    padding: 0;
    right: 0;
    transform: translateX(0);
  }
  
  .container.right-panel-active .overlay-right {
    transform: translateX(20%);
  }
  
  .titlebar {
    padding: 10px;
    color: white;
    background-color: #1fd8af;
  }
  
  .logoutbt {
    background-color: white;
    border-radius: 10px;
    border: 3px solid #1fd8af;
    color: #1fd8af;
    margin-top: 18px;
    padding-top: 4px;
    font-family: "title";
    font-size: 20px;
    cursor: pointer;
  
    &:hover {
      color: #d81f6b; /* 버튼의 배경색을 변경 */
    }
  }
  
  .homecontainer {
    margin-top: 75px;
    font-family: "title";
    padding-left: 40px;
  }
  
  .videobutton {
    color: #1fd8af;
    border: none;
    cursor: pointer;
    font-size: 36px;
    padding-top: 30px;
    background: none;
    border: none;
    position: absolute;
    top: 30%;
    left: 38%;
  }
  
  .mypagebutton {
    color: #1fd8af;
    border: none;
    cursor: pointer;
    font-size: 36px;
    padding-top: 70px;
    background: none;
    border: none;
    position: absolute;
    top: 43%;
    left: 48%;
  }
  
  .mypagebutton:hover,
  .videobutton:hover {
    color: #d81f6b;
  }
  
  .username {
    font-family: "title";
    color: white;
    padding-top: 22px;
    font-size: 25px;
    padding-right: 3px;
  }
  
  .titleul {
    background-color: whitesmoke;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
    font-size: 13px;
    color: black;
    font-family: "menubar";
    padding: 5px;
    margin-left: 65px;
  }
  .Introduction {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    margin: 3px;
    padding-bottom: 4px;
  }
  .mypagetitlebutton {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 4px;
    padding-top: 2px;
  }
  
  .Introduction:hover,
  .mypagetitlebutton:hover {
    color: #d81f6b;
  }
  
  .informationbutton,
  .videoinformationbutton {
    color: grey;
    border: none;
    font-size: 20px;
    background-color: #bdf2e3;
    padding-right: 40px;
    cursor: pointer;
  }
  
  .informationbutton:hover,
  .videoinformationbutton:hover {
    text-shadow: 1px 1px 1px grey;
  }
  
  .image-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .img-wrapper {
      margin: 60px 0 0 0;
      img {
        width: 200px;
        height: 250px;

      }
    }
  }
  
  .information-wrapper {
    margin-top: 30px;
    padding-left: 5px;
    color: black;
    font-family: "title";
    font-size: 20px;
    display: flex;

  }
  
  .prebt,
  .delbt {
    border: none;
    background-color: #1fd8af;
    margin: 2px;
    font-family: "menubar";
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
  }
  
  .uplobt {
    border: none;
    background-color: #1fd8af;
    font-family: "menubar";
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    height: 22px;
  }

  